@font-face{
    font-family: comic;
    src :url(comic.otf)format("opentype");
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgba(255,255,255,1);
	font-family: comic;
	font-weight: normal;
	border:7px solid #000;
}

h1{
	text-align: center;
	padding: 40px 0 30px 0;
	letter-spacing: 2px;
	font-size: 36px;
	font-weight: normal;
}

.image{
	width: 950px;
	margin: 0 auto;
	text-align: center;
}

img{
	margin: 10px 30px;
}

.app{
	width: 240px;
	border:5px solid #000;
}

.web{
	width: 700px;
	border:5px solid #000;
}

.zine{
	width: 600px;
	border:5px solid #000;
}

.text{
	width: 880px;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

.dtp{
	width: 500px;
	border:5px solid #000;
}

h2{
	font-weight: normal;
	margin-bottom: 10px;
	letter-spacing: 1px;
	font-size: 28px;
}

p{
	font-size: 16px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

#kaza{
	width: 400px;
}

#toyou{
	margin-bottom: 100px;
}

#you{
	margin-bottom: 50px;
	width: 560px;
	height: 315px;
}

#you2 {
	margin-bottom: 50px;
	width: 800px;
	height: 600px;
}

