*{
	margin: 0;
	padding: 0;
}

.image{
	width: 950px;
	margin: 0 auto;
}

img{
	margin: 10px 30px;
}

.app{
	width: 250px;
}

.text{
	width: 880px;
	margin: 0 auto;
}

h2{
	font-weight: normal;
}

p{
	font-size: 16px;
}

