*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgba(255,255,255,0.75);
}

h1{
	text-align: center;
	padding: 30px 0 20px 0;
	letter-spacing: 2px;
}

.image{
	width: 950px;
	margin: 0 auto;
	text-align: center;
}

img{
	margin: 10px 30px;
}

.app{
	width: 250px;
	border:1px solid #888;
}

.web{
	width: 700px;
	border:2px solid #888;
}

.zine{
	width: 600px;
	border:2px solid #888;
}

.text{
	width: 880px;
	margin: 0 auto;
	margin-bottom: 50px;
}

h2{
	font-weight: normal;
}

p{
	font-size: 16px;
}

#kaza{
	width: 400px;
}

#toyou{
	margin-bottom: 50px;
}

#you{
	margin-bottom: 50px;
	width: 560px;
	height: 315px;
}

