@charset "UTF-8";

/* Base */
html { font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif; font-size: 14px; line-height: 1.5; height: 100%}
body { background-color: #fff; color: rgb(0, 0, 0); height:100%;}
h1 { font-size: 100%; margin: 0; }
img { vertical-align: middle; }

/* Page header */
.page-header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 32px 0;
    width: 100%;
}
.page-header > .inner {
    width: 950px;
    padding: 8px 10px;
    margin: auto;
}
.site-logo {
    line-height: 1;
}

.left{
    height: 100%;
    width: 200px;
    float: left;
    overflow: hidden;  
    background-color: #000;
}

/********************************************filter*****/

.filter-form{
    float: right;
}

.form-item{
    margin-left: 5px;
}

.filter-form label{
    cursor:pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 0em;
    padding:0 0.25em;
}

.filter-form label.ui-state-focus{
    outline:1px dotted;
}

.filter-form-label .ui-icon{
    background: url() no-repeat 0 0;
    display: inline-block;
    height: 17px;
    margin-right: 0.5em;
    margin-top: 2px;
    width: 17px;
    vertical-align: top;
}


/*追加読み込みボタン*/
.load-more{
    background-color: #fff;
    border:1px solid rgb(230);
    display: block;
    padding:1em 0;
    width: 100%;
    margin-top: 10px;
}



/* Page main */
.page-main {
    /*float: left;*/
    margin: auto;
    padding: 0 10px 100px;
    width: 850px;
}



/*
 * Gallery
 */

.gallery {
    margin: 0;
    padding: 0;
}

.gallery-item {
    list-style: none;
    margin-top: 15px;
}


.gallery-item a{
    overflow: hidden;
    display: block;
    position: relative;
}

.gallery-item .caption{
    background-color: rgba(0,0,0,0.7);

    position: absolute;
    height: 100%;
    width: 100%;
    position: absolute;
    top:100%;
    left: 100%;
}

.gallery-item img{
    width: 200px;
}


/* 画像の読み込み中は見えないように */
.gallery-item.is-loading {
    opacity: 0;
}

.ato{
    background-color: #000;
    opacity: 1;
}
