@font-face{
    font-family: comic;
    src :url(comic.otf)format("opentype");
}


@charset "UTF-8";

/* Base */
html { font-family: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif; 
        font-size: 14px;
        line-height: 1.5; 
        height: 100%;
        margin: 0;
    }
body { 
    background-color: #fff;
    color: rgb(0,0,0); 
    height:100%;
    margin: 0;
    font-family: comic;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-shadow: #fff 5px 5px 0px, #fff -5px 5px 0px,#fff 5px -5px 0px, #fff -5px -5px 0px;
    }
h1 { 
    font-size: 100%;
    margin: 0; 
    font-weight: normal;
    }
img { vertical-align: middle; }

/* Page header */
.page-header {
    background-color: rgba(0,0,0,0);
    border-bottom: 7px solid rgb(0,0,0);
    padding: 32px 0;
    width: 100%;
    color: #000;
    background-image: radial-gradient(#444 20%, transparent 0), radial-gradient(#444 20%, transparent 0);
    background-position: 0 0, 5px 5px;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    margin: 0;
    height: 50px;
}
.page-header > .inner {
    width: 950px;
    padding: 8px 10px;
    margin: auto;
    font-weight: normal;
    text-shadow: #fff 5px 5px 0px, #fff -5px 5px 0px,#fff 5px -5px 0px, #fff -5px -5px 0px;

}
.site-logo {
    line-height: 1;
    text-shadow: #fff 5px 5px 0px, #fff -5px 5px 0px,#fff 5px -5px 0px, #fff -5px -5px 0px;
    font-size: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-weight: normal;
}

.left{
    height: 100%;
    width: 200px;
    float: left;
    overflow: hidden;  
    background-color: #000;
}

/********************************************filter*****/

.filter-form{
    float: right;
    margin-top: 12px;
}

.form-item{
    margin-left: 5px;
}

.filter-form label{
    cursor:pointer;
    display: inline-block;
    font-weight: normal;
    margin-left: 1em;
    letter-spacing: 2px;
    padding:0 0;
    font-size: 24px;
}

.filter-form label.ui-state-focus{
    outline:1px dotted;
}

.filter-form-label .ui-icon{
    background: url() no-repeat 0 0;
    display: inline-block;
    height: 17px;
    margin-right: 0.5em;
    margin-top: 2px;
    width: 17px;
    vertical-align: top;
}


/*追加読み込みボタン*/
.load-more{
    background-color: #fff;
    display: block;
    padding:1em 0;
    width: 100%;
    margin-top: 20px;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

button:hover{
    cursor: pointer;
}


/* Page main */
.page-main {
    /*float: left;*/
    margin: auto;
    padding: 0 10px 100px;
    width: 900px;
    position: relative;
}



/*
 * Gallery
 */

.gallery {
    margin: 0;
    padding: 0;
}

.gallery-item {
    list-style: none;
    margin-top: 20px;
}


.gallery-item a{
    overflow: hidden;
    display: block;
    position: relative;
}


/*マウスホバーで乗っかってる奴*/
.gallery-item .caption{
    position: absolute;
    height: 100%;
    width: 100%;
    position: absolute;
    top:100%;
    left: 100%;
}

.gallery-item img{
    width: 280px;
    border: 7px solid #000;
}

.shupan{
    width: 100%;
    height: 100%;
    border:1px solid #000;
}


/* 画像の読み込み中は見えないように */
.gallery-item.is-loading {
    opacity: 0;
}

.ato{
    background-color: #000;
    opacity: 1;
}

/***************************overlay*******/

.iner{
    color: #fff;
}

#cboxContent{
    width: 500px ;
}

.comment{
    color: #000;
    text-align: center;
    padding-top:10px; 
    margin: 50px 0 150px;
    font-weight: normal;
    background-color: #fff;
    position: relative;
    overflow: visible;
}

.namae{
    z-index: 10;
    text-shadow: #fff 5px 5px 0px, #fff -5px 5px 0px,#fff 5px -5px 0px, #fff -5px -5px 0px;
}

.dodon{
    z-index: 2;
}

#huki{
    position: absolute;
    width: 900px;
    height: 350px;
    top: -30px;
    left: 0;
}

#dodon{
    position: absolute;
    width: 600px;
    top: -120px;
    left: -320px;
}

#goo{
    position: absolute;
    width: 250px;
    top: 100px;
    right: -220px;
}

#pachi{
    position: absolute;
    width: 200px;
    top: 350px;
    left: -220px;
}

h3{
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin: 20px 0 10px;
}

input{
    display: none;
}

button > img{
    width: 500px;
}

#donguri{
    position: absolute;
    bottom: 0;
    width: 300px;
    left: -150px;
}

#ham{
    position: absolute;
    bottom: 0;
    width: 300px;
    right: -150px;
}




